
/*Framework */
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #F7F7F7;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.container {
  margin: 0 10%;
  width: 80%;
}

tr {
  background-color: #fff;
  border: 1px #E0E0E0 solid;
}

td {
  padding: 2rem;
  display: flex;
  align-items: center;

}

.table-icon {
  margin-right: 2rem;
  min-width: 3.2rem;
}

.table-text {

}

.card {
  /* Add shadows to create the "card" effect */
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 5.6rem 0;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card-container {
  padding: 4.5rem;
}


.persona-card {
  /* Add shadows to create the "card" effect */
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 5.6rem 0;
  max-width: 90rem;
}

/* Typography */

p {
  font-family: lato, sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  line-height: 180%;
}

h1 {
  font-family: droid-serif, serif;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  padding-bottom: 2.4rem;
  text-transform: capitalize;
}

h2 {
  font-family: droid-serif, serif;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 700;
  padding-bottom: 2.4rem;
  text-transform: capitalize;
}

h5 {
  font-family: lato, sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  line-height: 180%;
  font-weight: 700;
  text-transform: capitalize;
}

h6 {
  font-family: lato, sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  line-height: 180%;
  font-weight: 700;
  text-transform: capitalize;
}

u {
  text-decoration-color: #FA255E;
  text-decoration-style: solid;
}
strong {
  font-weight: 700;
}

li {
  font-family: lato, sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  line-height: 180%;
}

ol {
  padding: 1.6rem 0;
}

a {
  color: #444444;
  text-decoration: none;
}

a:hover {
  color: #FA255E;
  text-decoration: underline;

}


.content-label {
  font-family: lato, sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  padding-bottom: 2.4rem;
  text-transform: uppercase;
}

.link {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: #FA255E;
  text-decoration-style: solid ;
}

.list {
  padding: 1.6rem;
  margin-left: 3rem;
}
.list:last-child {
  padding-bottom: 0;
}


/* Basic Elements */

img {
  height: auto;
  max-width: 100%;
}


/* Buttons */

.button-text {
  display: inline;
  line-height: 100%;
  padding-right: .5rem;
}

/* Components */
.button-style-1 {
  background-image: linear-gradient(to right, #F77268 , #FA255E);
  border: 0px;
  border-radius: 20px;
  color:#fff;
  font-family: roboto, sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  height:48px;
  margin-bottom: 1.6rem;
  margin-right: 1.6rem;
  padding-left: 1.8rem;
  padding-right: 1rem;
  text-transform: uppercase;
  white-space: nowrap;
  -webkit-box-shadow: 0px 0px 14px -12px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 14px -12px rgba(0,0,0,1);
  box-shadow: 0px 0px 14px -12px rgba(0,0,0,1);


}


.button-style-2 {
  background-color: #fff;
  border: 0;
  border-radius: 20px;
  color:#343434;
  font-family: roboto, sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  height:48px;
  padding-left: 1.8rem;
  text-transform: uppercase;
white-space: nowrap;
  -webkit-box-shadow: 0px 0px 14px -12px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 14px -12px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 14px -12px rgba(0,0,0,0.4);
}

.button-arrow-1 {
  height: auto;
  vertical-align: middle;
}

.button-arrow-2 {
  padding: .2rem 0;
  max-height: 26px;
  margin-bottom: .3rem;
  margin-left: .5rem;
  margin-right: 1.5rem;
  vertical-align: middle;
}

/* Header*/

.header {
  /* border-bottom: 1px solid #f1f1f1; */
  background-color: #F1F1F1;
  background-image: url("/images/ark-case-study/case-study-bg.png");
  background-position: right;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #343434;
  position: fixed;
  padding: 2rem 0;
  position: fixed;
  top: 0;
  width: 100%;
  /* -webkit-box-shadow: 0px 8px 13px -13px rgba(0,0,0,0.23);
  -moz-box-shadow: 0px 8px 13px -13px rgba(0,0,0,0.23);
  box-shadow: 0px 8px 13px -13px rgba(0,0,0,0.23); */

}

.logo {
  display:inline-block;
  max-width: 32px;
  max-height: auto;
}

.navbar {
 padding: 0 4rem;
 align-items: center;
 display: flex;
 height: auto;
 justify-content: space-between;
}

.nav-link {
 display: inline-block;
 margin: 0 1rem;
}

.nav-link:last-child {
 margin-right: 0;
}

.main-links {
 float: right;

}

nav ul li {
  color: #343434;
  font-family: roboto, sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  text-transform: lowercase;
}

.link-period {
  color: #FA255E;
}


/* Hero */

.hero {
  background-size: auto;
  color: #343434;
  padding: 15rem 0;
  margin-top: 0rem;
}

.hero-banner {
  background-attachment: fixed;
  background-image: url("/images/ark-case-study/case-study-bg.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-content {
  align-items: center;
  display: flex;
  flex-flow: wrap-reverse;
  height: auto;
  justify-content: space-between;
  margin: 0 10%;
  width: 80%;
}

.case-study-description {
  font-family: lato, sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  margin-top: 0;
  max-width: 50rem;
  padding-bottom: 6.4rem;

}

.case-study-img {
  max-width: 44rem;
  padding-bottom: 0rem;
}

/* Subnav */
/*
.subnav {
  background-color: #343434;
  color: #ffffff;
  font-family: roboto, sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  text-transform: lowercase;
}

.subnav-links {
  display: inline-block;
}

.subnav-link {
 display: inline-block;
 margin: 0 1rem;
}

.subnav-link:last-child {
 margin-right: 0;
}

.subnav {
  float: left;
  overflow: hidden;
} */

/* Subnav button */

.subnav-links {
  overflow: hidden;
  background-color: #333;
}

/* Navigation links */
.subnav-links a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.subnav-links a:hover, .subnav:hover .subnavbtn {
  background-color: red;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: red;
  width: 100%;
  z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}

/* Overview */

.overview-content {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding-top: 5.6rem;
}

.overflow-items {
  padding-bottom: 2.4rem;
}

/* Problem Solution*/

.problem-solution {
  padding: 10rem 0;
}

#problem {
  padding-bottom: 5.6rem;
}

/*Competitive Analysis*/

.competitors {
  padding-top: 5.6rem;
}

.competitors:last-child {
  padding-bottom: 5.6rem;
}

.competitor-logo {
  padding-bottom: 1.6rem;
}

/*User Survey*/
.findings {
  margin-bottom: 2.4rem;
}

/* Personas*/

#persona1 {
  background-color: #5D6A50;
  color: #FFF;
  padding: 1rem;
}

.card-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "persona-img demographic-info"
}

.persona-img {
  background-image: url("/images/ark-case-study/personas/persona1.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.demographic-info {
  background-color: #423F3E;
  color: #fff;
  padding: 2.4rem;
}

.dem-data {
  font-size: 1.8rem;
}

@media screen and (min-width: 40rem) {
  /* Structure */
  .container {
  margin: 0 20%;
  max-width: 60%;
  }

  /* Typography */

  h1 {
    font-family: droid-serif, serif;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    padding-bottom: 2.4rem;
    text-transform: uppercase;
  }

  h2 {
    font-family: droid-serif, serif;
    font-size: 4.8rem;
    font-weight: 700;
    font-style: normal;
    padding-bottom: 2.4rem;
    text-transform: capitalize;
  }

  h3 {
    font-family: droid-serif, serif;
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    padding-bottom: 2.4rem;
    text-transform: capitalize;
  }

  /* Buttons */

  .button-style-1{
    display: inline-block;
    margin-bottom: 1.6rem;
    margin-right: 1.6rem;

  }

  .button-style-2{
    display: inline-block;
    margin-bottom: 1.6rem;

  }

  /*Hero*/

  .hero-content {
    width: 90%;
    align-items: center;
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-column-gap: 1rem;
    grid-template-areas:
      "case-study-summary case-study-img";
    margin: 0 10%;

  }

  .case-study-img {
    min-width: 40rem;
  }
}

@media screen and (min-width: 1000px) {

  /*Struture*/
  .container {
    margin: 0 20%;
    width: 60%;
    max-width: 55rem;
  }
}
