/* Structure */
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #F7F7F7;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

img {
  height: auto;
  max-width: 100%;
}

.container {
  /* display: flex;
  flex-flow: row wrap; */
  margin: 0 10%;
  width: 80%;
}

/* Typography */

.bold-pink {
  color: #FA255E;
}



u {
  text-decoration-color: #FA255E;
  text-decoration-style: solid;
}

p, h1, h2, h4, .content-label, .project-description, .subtitle {

}

p {
  font-family: lato, sans-serif;
  font-size: 1.8rem;
}

h1 {
  font-family: droid-serif, serif;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  padding-bottom: 7rem;
  text-transform: capitalize;
}

h2 {
  font-family: droid-serif, serif;
  font-size: 2.8rem;
  font-weight: 700;
  font-style: normal;
  padding-bottom: 2.4rem;
  text-transform: capitalize;
}

h3 {
  font-family: droid-serif, serif;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-transform: capitalize;
}

h4 {
  font-family: lato, sans-serif;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;

}

nav ul li {
  color: #343434;
  font-family: roboto, sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  text-transform: lowercase;
}

.content-label {
  font-family: lato, sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  padding-bottom: 4.8rem;
  text-transform: uppercase;
}

.subtitle {
  font-family: lato, sans-serif;
  padding-bottom: 7rem;
  max-width: 740px;
}

/* Link Style*/
a {
  color: #343434;
  text-decoration: none;
}

a:hover {
  color: #FA255E;
}

.footer-link{
  color: #fff;
  display: inline-block;
  font-family: roboto, sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  margin-right: 1rem;
  text-transform: lowercase;

}


/*Components*/

.button-style-1 {
  background-image: linear-gradient(to right, #F77268 , #FA255E);
  border: 0px;
  border-radius: 50px;
  color:#fff;
  font-family: roboto, sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  height:48px;
  padding-left: 1.8rem;
  padding-right: 1rem;
  text-transform: uppercase;
  width: auto;
  -webkit-box-shadow: 0px 0px 14px -12px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 14px -12px rgba(0,0,0,1);
  box-shadow: 0px 0px 14px -12px rgba(0,0,0,1);
}


.button-style-2 {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 50px;
  color:#343434;
  font-family: roboto, sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  height:48px;
  padding-left: 1.8rem;
  padding-right: 1rem;
  text-transform: uppercase;
  width: auto;
  -webkit-box-shadow: 0px 0px 14px -12px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 14px -12px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 14px -12px rgba(0,0,0,0.4);
}

.button-arrow-1 {
  height: auto;
  vertical-align: middle;
}

.button-arrow-2 {
  padding: .2rem 0;
  max-height: 26px;
  margin-bottom: .3rem;
  margin-right: .5rem;
  vertical-align: middle;
}


.button-text {
  display: inline;
  line-height: 100%;
  padding-right: .5rem;

}

/*Header*/

.header {
  background-color: #F1F1F1;
  background-image: url("/images/hero/hero-bg-dark.jpg");
  background-position: right;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #343434;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2rem 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.top-nav {
  padding: 0 4rem;
  align-items: center;
  display: flex;
  height: auto;
  justify-content: space-between;
}

.main-nav {
  list-style-type: none;
  display: none;
  margin: 7rem 0;
  width: 100%;
}

.nav-links {
  color: #fff;
 display: inline-block;
 margin: 0 1rem;
}

.nav-links:last-child {
 margin-right: 0;
}

.main-nav li {
  text-align: left;
  margin: 2.4rem auto;

}

.logo {
  display:inline-block;
  max-width: 32px;
  max-height: auto;
}

.main-logo {
  display: none;
}

.mobile-logo {
  margin-left: 1rem;

}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

.link-period {
  color: #FA255E;
}

#current-page {
  font-weight: 700;
}

#chkToggle {
  display: none;
}

#chkToggle:checked + ul.main-nav {
  display: block;
}

#responsive-menu {
  color: #fff;
  display: inline-block;
  margin: 0 1rem;
  margin: 15px auto;
  text-decoration: none;

}
#responsive-menu:hover {
  color: #FA255E;
}



/*Hero*/

.hero1 {
  background-size: auto;
  color: #343434;
  padding: 15rem 0;
  margin-top: 0rem;
}

.hero-banner1 {
  background-attachment: fixed;
  background-image: url("/images/hero/hero-bg-light.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Projects*/

.featured-project{
  font-family: lato, sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  padding-bottom: 2.4rem;
  text-transform: uppercase;
}



.project-description {
  padding-bottom: 4rem;
}

.project1-summary {
  background-image: url("/images/components/01.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.project-description {
  line-height: 140%;
}




.project1 {
 padding: 10rem 0;
}

.project1-img {
 padding-bottom: 2.4rem;
 align-items: center;
 display: flex;

}


/* Footer*/

footer div h3 {
  padding-bottom: 2.4rem;
}

.footer {
  background-color: #2A2A2D;
  color: #ffffff;
  padding: 5rem 0;
}

@media screen and (min-width: 36rem) {

  /*Header*/

  .header {
    background-color: #F1F1F1;
    background-image: url("/images/hero/hero-bg-light.png");
    background-position: right;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #343434;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 2rem 0;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .top-nav {
    padding: 0 4rem;
    align-items: center;
    display: flex;
    height: auto;
    justify-content: space-between;
    }

    #chkToggle:checked + ul.main-nav {
      display: flex;
    }

    .main-nav {
      display: flex;
      margin-right: 30px;
      flex-direction: row;
      float: right;
      justify-content: flex-end;
      margin: 0;
      width: auto;
    }



    .main-nav li {

    }

    .nav-links {
      margin-left: 40px;
      color: #343434;

    }


    .logo {
      margin-top: 0;
    }

    .mobile-logo {
      display: none;
    }

    .main-logo {
      display: block;
    }

    .navbar-toggle {
      display: none;
    }

    .nav-links:hover {
      color: #FA255E;
    }

}



@media screen and (min-width: 40rem) {

  /* Structure */
.container {
  margin: 0 10%;
  width: 80%;
}

  /* Typography */

  h1 {
    font-family: droid-serif, serif;
    font-size: 5.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    padding-bottom: 7rem;
    text-transform: capitalize;
  }

  h2 {
    font-family: droid-serif, serif;
    font-size: 4.8rem;
    font-weight: 700;
    font-style: normal;
    padding-bottom: 2.4rem;
    text-transform: capitalize;
  }

  h3 {
    font-family: droid-serif, serif;
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-transform: capitalize;
  }




@media screen and (min-width: 1000px) {

  /*Structure*/

  .container {
    margin: 0 10%;
    width: 80%;
  }


/*Projects*/

  .project1 {
    display: grid;
    padding: 10rem 0;
    grid-template-columns: 4fr 4fr;
    grid-template-areas:
      "project1-img project1-summary";
    column-gap: 13rem;
  }

  .project1-img {
    padding-bottom: 0;
  }
