* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: #F7F7F7;
  display: grid;
  grid-template-areas:
    "cd-auto-hide-header"
    "main"
    "footer";
}

img {
  height: auto;
  max-width: 100%;
}
.footer div hr {
  border: 1px solid #F84D63;
}

.container {
  margin: 0 10%;
  width: 80%;
}


@media screen and (min-width: 40rem) {
  .container {
    margin: 0 10%;
    width: 80%;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    margin: 0 10%;
    width: 80%;
  }
}

/******Header*********/
.cd-auto-hide-header {
  background-attachment: fixed;
  background-color: #f1f1f1;
  background-image: url("/images/hero/case-study-bg.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
  color: #343434;
  padding: 2rem 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.logo {
  display: inline-block;
  max-height: auto;
  max-width: 3.2rem;
}

.main-nav li {
  color: #343434;
  font-family: roboto, sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  text-transform: lowercase;
}

.nav-links {
  color: #343434;
}



.link-period {
  color: #F84D63;
}

.nav-links:hover {
  color: #F84D63;
}

/******Typography*********/
.pink {
  color: #F84D63;
}


b, strong {
  font-weight: 700;
}

u {
  border-bottom: 2px solid #F84D63;
  text-decoration: none;
}

p {
  font-family: lato, sans-serif;
  font-size: 1.8rem;
}

h1 {
  font-family: droid-serif, serif;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  max-width: 98rem;
  padding-bottom: 5rem;
  text-transform: capitalize;
}

h2 {
  font-family: droid-serif, serif;
  font-size: 2.8rem;
  font-weight: 700;
  font-style: normal;
  padding-bottom: 1rem;
  text-transform: capitalize;
}



h3 {
  font-family: droid-serif, serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-transform: capitalize;
}

nav ul li {
  color: #343434;
  font-family: roboto, sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  position: relative;
  text-transform: lowercase;
}

nav ul li::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #F84D63;
  transform-origin: center;
  transform: translate(-50%, 0) scaleX(0);
  transition: transform 0.3s ease-in-out;
}

nav ul li:hover::before {
  transform: translate(-50%, 0) scaleX(1);
}

nav ul li:first-of-type::before {
  display: none;
}

nav ul li:first-of-type:hover::before {
  display: none;
}

.tags {
  color: #F84D63;
  font-family: lato, sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  padding-bottom: 2rem;
  text-transform: uppercase;
}

.subtitle {
  padding-bottom: 6rem;
  max-width: 74rem;
}

.subtitle-text {
  font-family: lato, sans-serif;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

a {
  color: #343434;
  text-decoration: none;
}

.link:hover {
  color: #F58493;
}

@media screen and (min-width: 40rem) {
  h1 {
    font-size: 5.6rem;
  }

  h2 {
    font-size: 4.8rem;
  }

  h3 {
    font-size: 3.8rem;
  }
}

/******Buttons*********/

.button-container {
  text-align: center;
}

.button-text {
  display: inline;
  line-height: 100%;
  padding-right: .5rem;
}

.button-style-1 {
  background-image: linear-gradient(to right, #F84D63 0%, #F84D63 25%, #F77268 75%, #F77268 100%);
  background-size: 200% auto;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 0px 14px -12px rgba(0, 0, 0, 0.4);
  color: #fff;
  display: inline-block;
  font-family: roboto, sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  height: 4.8rem;
  margin-bottom: 0rem;
  margin-right: 1.6rem;
  position: relative;
  padding-bottom: 1.5rem;
  padding-left: 1.8rem;
  padding-right: 1rem;
  padding-top: 1.5rem;
  text-transform: uppercase;
  transition-duration: 0.5s;
  white-space: nowrap;
  -moz-box-shadow: 0px 0px 14px -12px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 14px -12px rgba(0, 0, 0, 0.4);
}

.button-arrow-1 {
  width: 3.2rem;
  height: auto;
  vertical-align: middle;
}

.button-style-1:hover {
  background-position: right;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  color: #fff;
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
}


.button-style-1:active {
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
}


.button-style-2 {
  background-color: #fff;
  box-shadow: 0px 0px 14px -12px rgba(0, 0, 0, 0.4);
  border: 1px solid #e6e6e6;
  border-radius: 50px;
  color: #343434;
  display: inline-block;
  font-family: roboto, sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  height: 4.8rem;
  margin-bottom: 1.6rem;
  padding-bottom: 1.5rem;
  padding-left: 1.8rem;
  padding-top: 1rem;
  text-transform: uppercase;
  transition-duration: 0.5s;
  white-space: nowrap;
  -moz-box-shadow: 0px 0px 14px -12px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 14px -12px rgba(0, 0, 0, 0.4);
}

.button-arrow-2 {
  margin-bottom: .3rem;
  margin-left: .5rem;
  margin-right: 1.5rem;
  max-height: 26px;
  padding: .2rem 0;
  vertical-align: middle;
}

.button-style-2:hover {
  background-color: #f2f2f2;
  border-color: #343434;
  color: #343434;
  transition-duration: 0.5s;
}

.button-style-2:active {
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
}


/******Header*********/
.cd-auto-hide-header {
  background-attachment: fixed;
  background-color: #f1f1f1;
  background-image: url("/images/hero/case-study-bg.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
  color: #343434;
  padding: 2rem 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.top-nav {
  padding: 0 4rem;
  align-items: center;
  display: flex;
  height: auto;
  justify-content: space-between;
}

.nav-links {
  color: #fff;
}

.logo {
  display: inline-block;
  max-width: 32px;
  max-height: auto;
}

.main-logo {
  display: none;
}

.mobile-logo {
  margin-left: 1rem;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

.link-period {
  color: #F84D63;
}

#current-page {
  color: #F84D63;
}

@media screen and (min-width: 36rem) {
  .header {
    background-color: #F1F1F1;
    background-position: right;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #343434;
    padding: 2rem 0;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .top-nav {
    padding: 0 4rem;
    align-items: center;
    display: flex;
    height: auto;
    justify-content: space-between;
  }

  .nav-links {
    color: #343434;
  }

  .logo {
    margin-top: 0;
  }

  .mobile-logo {
    display: none;
  }

  .main-logo {
    display: block;
  }

  .navbar-toggle {
    display: none;
  }

  .nav-links:hover {
    color: #F84D63;
  }
}

/******Hero*********/
.hero1 {
  background-size: auto;
  color: #343434;
  padding: 15rem 0;
  margin-top: 0rem;
}

.hero-banner1 {
  background-attachment: fixed;
  background-image: url("/images/hero/hero-bg-light.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

/******Project*********/
.featured-projects {

  font-family: lato, sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 5rem;
  text-align: center;
  text-transform: uppercase;
}

.project-description {
  padding-bottom: 3rem;
}

.project-summary {
  background-image: url("/images/components/01.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.project-description {
  line-height: 140%;
  max-width: 44rem;
}



.projects {
  padding: 10rem 0;
}

.project-img {
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  margin-bottom: 3rem;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.54, -0.29, 0.54, 1.14);

}

.project-img:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

@media screen and (min-width: 400px) {

  .tags {
    font-size: 1.8rem;
  }

}

@media screen and (min-width: 1000px) {
  .project {
    column-gap: 5rem;
    display: grid;
    grid-template-areas:
      "project-img project-summary";
    grid-template-columns: 4fr 4fr;
    max-width: 95rem;
    margin:auto;
  }

  .project-img {
    min-width: 50rem;
    padding-bottom: 0;
  }
}

/******Footer*********/
.footer {
  background-color: #2A2A2D;
  color: #E8E8E8;
  padding: 5rem 0;
}

.footer-container {
  margin: 0 10%;
  width: 80%;
}

footer div h3 {
  padding-bottom: 2.4rem;
}

.footer-link {
  color: #E8E8E8;
  display: inline-block;
  font-family: roboto, sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  margin-right: 1rem;
  text-transform: lowercase;
}

.footer-text {
  font-size: 2.4rem;
  margin-top: 3.2rem;
  text-align: left;
}

#copyright {
  line-height: 140%;
}
